{{#partial "content"}}
  <a href="/item">See All Items</a>
  <br>
  <a href="/item/new">Add a New Item</a>
  <br>
  <a href="/item/shopping-list">Shopping List</a>
  <br>
  <a href="/item/packing-list">Packing List</a>
{{/partial}}

{{> layout.hbs}}